@{
    ViewData["Title"] = "Employee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model EmployeeDTO


<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index" style="color:var(--brand-blue)">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Employee</li>
    </ol>
</nav>


<div class="card shadow border-0 mt-4">
    <div class="card-header bg-gradient m-lg-0 py-3" style="background-color:var(--brand-blue)">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Empleado Publico</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="row pb-4">
            <div class="col-6">
            </div>
            <div class="col-6 text-end">
                <a asp-controller="employees" asp-action="Upsert" class="text-light" adesign="orange">
                    <i class="bi bi-plus-circle"></i> Crear nuevo Empleado
                </a>
                <a onclick="openModal()" class="text-light" adesign="orange">
                    <i class="bi bi-filetype-csv"></i> Subir CSV
                </a>


            </div>
        </div>
        <table id="tblData" class="table table-bordered table-striped" style="width:100%">

            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Lugar de Nacimiento</th>
                    <th>Birthdate</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <script src="~/js/Employee.js"></script>

    <script>

        function openModal() {
            $("#csvmodal").modal("show");
        }

        function closeModal() {
            $("#csvmodal").modal("hide");

        }

    </script>
}